/* Center box */

.center {
  text-align: center;
}

/* Information box */

.infobox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 5px solid #196f3d;
  border-radius: 10px;
  background: #e9f7ef 5px center/3em no-repeat;
}

/* Block Quote */

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #196f3d;
    background: #e9f7ef 5px center/3em no-repeat;
}

/* footer */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #333333;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    color:#ffffff;
}